[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
C = GB
ST = LONDON
L = London
O = MoJ
OU = CJSE
CN = www.cjse.org
[v3_req]
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = *.cjse.org
DNS.2 = localhost
DNS.3 = localhost.localdomain
DNS.4 = psnportal.bichard7.pnn.police.uk
DNS.5 = *.psnportal.bichard7.pnn.police.uk
DNS.6 = exchange.gsi.gov.uk
DNS.7 = *.exchange.gsi.gov.uk
DNS.8 = exchange1.gsi.gov.uk
DNS.9 = *.exchange1.gsi.gov.uk
DNS.10 = preprod.bichard7.pnn.police.uk
DNS.11 = *.preprod.bichard7.pnn.police.uk
