---
version: 2.1

# Define the jobs we want to run for this project
jobs:
  build_amazon_linux_2_images:
    machine:
      image: ubuntu-2204:current
      docker_layer_caching: true
    resource_class: xlarge
    steps:
      - checkout
      - run: sudo bash scripts/install_goss.sh
      - run: make build-al2
  build_amazon_linux_2023_images:
    machine:
      image: ubuntu-2204:current
      docker_layer_caching: true
    resource_class: xlarge
    steps:
      - checkout
      - run: sudo bash scripts/install_goss.sh
      - run: make build-al2023
  build_conductor_image:
    machine:
      image: ubuntu-2204:current
      docker_layer_caching: true
    resource_class: xlarge
    steps:
      - checkout
      - run: sudo bash scripts/install_goss.sh
      - run: make Conductor
  test_conductor:
    machine:
      image: ubuntu-2204:current
      docker_layer_caching: true
    resource_class: large
    environment:
      SKIP_GOSS: true
    steps:
      - checkout
      - run:
          name: Build Conductor image
          command: make Conductor
      - run:
          name: Build Nodejs Nginx Supervisord images
          command: make Nginx_NodeJS_20_2023_Supervisord
      - run:
          name: Checkout the audit logging repo
          command: git clone --depth 1 https://github.com/ministryofjustice/bichard7-next-audit-logging.git ~/bichard7-next-audit-logging
      - run:
          name: Build the audit logging images
          working_directory: ~/bichard7-next-audit-logging
          command: make build-api-server build-event-handler-server
      - run:
          name: Checkout the Core repo
          command: git clone --depth 1 https://github.com/ministryofjustice/bichard7-next-core.git ~/bichard7-next-core
      - run:
          working_directory: ~/bichard7-next-core
          command: nvm install
      - run:
          name: npm install
          working_directory: ~/bichard7-next-core
          command: npm ci
      - run:
          name: Build core
          working_directory: ~/bichard7-next-core
          command: npm run build:core
      - run:
          name: Run the infrastructure
          working_directory: ~/bichard7-next-core
          environment:
            PHASE_2_QUEUE_NAME: TEST_PHASE2_QUEUE
            PHASE_3_QUEUE_NAME: TEST_PHASE3_QUEUE
          command: bash .circleci/scripts/run-infrastructure.sh conductor all-build-worker
      - run:
          name: Test the workflows
          working_directory: ~/bichard7-next-core
          command: nvm use && npm run -w packages/conductor test

# Orchestrate our job run sequence
workflows:
  build_and_test:
    jobs:
      - build_amazon_linux_2_images
      - build_amazon_linux_2023_images
      - build_conductor_image
      - test_conductor
