input {
  cloudwatch_logs {
    log_group => ["cjse-bichard7-{{ getv "/cjse/environment" ""}}-base-infra-bichard7"]
    start_position => "end"
    region => "eu-west-2"
    tags => ["cloudwatch_syslog","bichard","ecs_logs", "application"]
    codec => "plain"
  }
}

filter {
  if [cloudwatch_logs][log_group] == "cjse-bichard7-{{ getv "/cjse/environment" ""}}-base-infra-bichard7" {
    mutate{
        replace => [ 'message', '%{message}' ]
        gsub => [ 'message','\n','']
    }

    json {
        source => 'message'
        tag_on_failure => ['_jsonparsefailure']
      }
    }
  
  uuid {
    target => "[@metadata][document_id]"
    overwrite => true
  }

  if [cloudwatch_logs] {
    mutate {
      replace => {
        "[@metadata][document_id]" => "%{[cloudwatch_logs][event_id]}"
      }
    }
  }
}

output {
  opensearch {
    hosts => ["{{ getv "/cjse/logstash/es/domain" "http://elasticsearch:9200"}}"]
    index => "{{ getv "/cjse/environment" ""}}-logs-%{+YYYY.MM.dd}"
    user => "{{ getv "/cjse/logstash/es/username" ""}}"
    password => "{{ getv "/cjse/logstash/es/password" ""}}"
    ssl => true
    document_id => "%{[@metadata][document_id]}" 
{{ if exists "/cjse/logstash/local" }}
   ssl_certificate_verification => false
{{ end }}
  }
}
