input {
  cloudwatch_logs {
    log_group => ["cjse-bichard7-{{ getv "/cjse/environment" ""}}-base-infra-nginx-auth-proxy"]
    start_position => "end"
    region => "eu-west-2"
    tags => ["cloudwatch_syslog","nginx-auth-proxy","ecs_logs", "application"]
    codec => "plain"
  }
}

filter {
  mutate{
      replace => [ "message", "%{message}" ]
      gsub => [ 'message','\n','']
  }

  if [message] =~ /^{.*}$/ {
    json {
      skip_on_invalid_json => true
      source => message
      }
  }
  else {
    grok {
          patterns_dir => ["/etc/logstash/patterns"]
          match => { "message" => ["%{IPORHOST:[nginx][access][remote_ip]} - %{DATA:[nginx][access][user_name]} \[%{HTTPDATE:[nginx][access][time]}\] \"%{WORD:[nginx][access][method]} %{DATA:[nginx][access][url]} HTTP/%{NUMBER:[nginx][access][http_version]}\" %{NUMBER:[nginx][access][response_code]} %{NUMBER:[nginx][access][body_sent][bytes]} \"%{DATA:[nginx][access][referrer]}\" \"%{DATA:[nginx][access][agent]}\"", "%{SCREENSIZE:screen_size}"] }
          remove_field => "message"
      }

    if [nginx][access][url] =~ /[0-9]{3,4}x[0-9]{3,4}/  {
      mutate {
          add_field => { "screen_size" => "%{[nginx][access][url]}" }
        }
        grok {
          patterns_dir => ["/etc/logstash/patterns"]
          match => { "screen_size" => ["%{SCREENSIZE:screen_size}"] }
          overwrite => [ "screen_size" ]
        }
    }

    if ![read_timestamp] {
      mutate {
          add_field => { "read_timestamp" => "%{@timestamp}" }
      }
    }

    date {
        match => [ "[nginx][access][time]", "dd/MMM/YYYY:H:m:s Z" ]
        remove_field => "[nginx][access][time]"
    }
    useragent {
        source => "[nginx][access][agent]"
        target => "[nginx][access][user_agent]"
        remove_field => "[nginx][access][agent]"
     }
    geoip {
        source => "[nginx][access][remote_ip]"
        target => "[nginx][access][geoip]"
    }
  }
}

output {
  opensearch {
    hosts => ["{{ getv "/cjse/logstash/es/domain" "http://elasticsearch:9200"}}"]
    index => "{{ getv "/cjse/environment" ""}}-logs-%{+YYYY.MM.dd}"
    user => "{{ getv "/cjse/logstash/es/username" ""}}"
    password => "{{ getv "/cjse/logstash/es/password" ""}}"
    ssl => true
{{ if exists "/cjse/logstash/local" }}
   ssl_certificate_verification => false
{{ end }}
  }
}
