input {
  cloudwatch_logs {
    codec => json
    log_group => ["cjse-bichard7-{{ getv "/cjse/environment" ""}}-base-infra-grafana"]
    start_position => "end"
    region => "eu-west-2"
    tags => ["cloudwatch_syslog","grafana","ecs_logs", "monitoring"]
    codec => "plain"
  }
}

output {
  opensearch {
    hosts => ["{{ getv "/cjse/logstash/es/domain" "http://elasticsearch:9200"}}"]
    index => "{{ getv "/cjse/environment" ""}}-logs-%{+YYYY.MM.dd}"
        user => "{{ getv "/cjse/logstash/es/username" ""}}"
        password => "{{ getv "/cjse/logstash/es/password" ""}}"
        ssl => true
{{ if exists "/cjse/logstash/local" }}
   ssl_certificate_verification => false
{{ end }}
  }
}
