input {
  cloudwatch_logs {
      log_group => ["cjse-bichard7-{{ getv "/cjse/environment" ""}}-base-infra-logstash"]
      start_position => "end"
      region => "eu-west-2"
      tags => ["cloudwatch_syslog","logstash","ecs_logs", "monitoring"]
  }
}

output {
  elasticsearch {
    hosts => ["{{ getv "/cjse/logstash/es/domain" "http://elasticsearch:9200"}}"]
    index => ".logs-%{[@metadata][version]}-%{+YYYY.MM.dd}"
    user => "{{ getv "/cjse/logstash/es/username" ""}}"
    password => "{{ getv "/cjse/logstash/es/password" ""}}"
  }
}
