input {
  cloudwatch_logs {
    log_group => ["cjse-bichard7-{{ getv "/cjse/environment" ""}}-base-infra-prometheus"]
    start_position => "end"
    region => "eu-west-2"
    tags => ["cloudwatch_syslog","prometheus","ecs_logs", "monitoring"]
  }
}

filter {
    mutate{
        replace => [ "message", "%{message}" ]
        gsub => [ 'message','\n','']
    }

    if [message] =~ /^{.*}$/ {
        json {
          skip_on_invalid_json => true
          source => message
        }
    }
    else {
      grok {
        patterns_dir => ["/etc/logstash/patterns"]
        match => { "message" => "%{LOGLEVEL:loglevel} ts=%{DATETIME_PROM:timestamp} %{GREEDYDATA:message}" }
      }
    }
}

output {
  opensearch {
    hosts => ["{{ getv "/cjse/logstash/es/domain" "http://elasticsearch:9200"}}"]
    index => "{{ getv "/cjse/environment" ""}}-logs-%{+YYYY.MM.dd}"
    user => "{{ getv "/cjse/logstash/es/username" ""}}"
    password => "{{ getv "/cjse/logstash/es/password" ""}}"
    ssl => true
{{ if exists "/cjse/logstash/local" }}
   ssl_certificate_verification => false
{{ end }}
  }
}
