input {
  cloudwatch_logs {
    log_group => ["cjse-bichard7-{{ getv "/cjse/environment" ""}}-base-infra-user-service"]
    start_position => "end"
    region => "eu-west-2"
    tags => ["cloudwatch_syslog","user-service","ecs_logs", "application"]
    codec => "plain"
  }
}

filter {
  mutate{
      replace => [ "message", "%{message}" ]
      gsub => [ 'message','\n','']
      gsub => [ 'message','\"\"([^,])','"\1'] # nginx logs were malformed with an extra " on the realip key
  }

  json {
    source => message
    tag_on_failure => ['_jsonparsefailure']
    }
}

output {
  opensearch {
    hosts => ["{{ getv "/cjse/logstash/es/domain" "http://elasticsearch:9200"}}"]
    index => "{{ getv "/cjse/environment" ""}}-logs-%{+YYYY.MM.dd}"
    user => "{{ getv "/cjse/logstash/es/username" ""}}"
    password => "{{ getv "/cjse/logstash/es/password" ""}}"
    ssl => true
{{ if exists "/cjse/logstash/local" }}
   ssl_certificate_verification => false
{{ end }}
  }
}
