input {
  cloudwatch_logs {
    log_group => ["cjse-bichard7-{{ getv "/cjse/environment" ""}}-base-infra-user-service"]
    start_position => "end"
    region => "eu-west-2"
    tags => ["cloudwatch_syslog","user-service","ecs_logs", "application"]
  }
}

filter {
  grok {
    match => { "message" => ["%{IPORHOST:[nginx][access][remote_ip]} - %{DATA:[nginx][access][user_name]} \[%{HTTPDATE:[nginx][access][time]}\] \"%{WORD:[nginx][access][method]} %{DATA:[nginx][access][url]} HTTP/%{NUMBER:[nginx][access][http_version]}\" %{NUMBER:[nginx][access][response_code]} %{NUMBER:[nginx][access][body_sent][bytes]} \"%{DATA:[nginx][access][referrer]}\" \"%{DATA:[nginx][access][agent]}\""] }
    remove_field => "message"
  }
  mutate {
    add_field => { "read_timestamp" => "%{@timestamp}" }
  }
  date {
    match => [ "[nginx][access][time]", "dd/MMM/YYYY:H:m:s Z" ]
    remove_field => "[nginx][access][time]"
  }
  useragent {
    source => "[nginx][access][agent]"
    target => "[nginx][access][user_agent]"
    remove_field => "[nginx][access][agent]"
  }
  geoip {
    source => "[nginx][access][remote_ip]"
    target => "[nginx][access][geoip]"
  }
}

output {
  elasticsearch {
    hosts => ["{{ getv "/cjse/logstash/es/domain" "http://elasticsearch:9200"}}"]
    index => "{{ getv "/cjse/environment" ""}}-logs-%{+YYYY.MM.dd}"
    user => "{{ getv "/cjse/logstash/es/username" ""}}"
    password => "{{ getv "/cjse/logstash/es/password" ""}}"
    ssl => true
    ilm_enabled => false
  }
}
