# Get this info  using aws-vault exec <account_name> -- env | grep AWS
AWS_DEFAULT_REGION=eu-west-2
AWS_REGION=eu-west-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_SECURITY_TOKEN=

# this is the deploy env name ie e2e-test
CJSE_ENVIRONMENT=e2e-test
# The endpoint from aws console, protocol, name and port
CJSE_LOGSTASH_ES_DOMAIN=https://elasticsearch:9200
# These are from ssm for the target env values below are for local
CJSE_LOGSTASH_ES_USERNAME=admin
CJSE_LOGSTASH_ES_PASSWORD=admin
# Set this below to enable https on our local opensearch distro
#CJSE_LOGSTASH_LOCAL=true
